body{

  text-align: center;
  background-image: url(vb4.webp);
  /* background-repeat: no-repeat; */

}

h1{

  padding-top: 7%;
  color: red;
}
.container{
  width: 60%;
}
h3 {
  color: red;
}

hr{
  padding-bottom: 2%;
}

p{
  padding-bottom: 4%;
  color: #505050;
  font-size: 1.1em;
}
