.navbar-header:hover {
color: red;
}
body{
  padding-top: 60px;

   
  background-size: cover;
  background-image: url(vb4.webp);
  background-repeat: no-repeat;

background-size: 1600px;
color: #cc0000;
background-color: lightblue;

}

textarea { vertical-align: top;}

/* p:hover{
   color: red;
} */

.nav .navbarinverse:hover{
  color:red;
}
.navbar-inverse li:hover{
  color: red;
}
.col-xs-7{
  height: 500px;
}

.right{
  text-align: center;
  padding-left: 5%;
}
