canvas{
  width: 100%;
  max-width: 1500px;
  min-width: 500px;
  background-color: black;
  height: 100%;
  margin: 0 auto;
}

body, html{
  margin: 0 auto;
  height: 100%;
}

.mydiv{
  height: 100%;
  margin: 0 auto;
}

body{
  background: black;
  color: white;
  text-align: center;
  font-family: Consolas;
  margin: 0 auto;
}